.add {
    margin-top: 12px;

    display: flex;
    align-items: center;

    background: #DFE3E6;
    border-radius: 3px;

    font-size: 13px;
    color: #6B808C;
}

.column .add {
    margin-left: 12px;
}

.add-button {
    position: relative;
    top: -1px;
    width: 15px;
    height: 15px;
    margin-right: 8px;

    background: transparent url(../pictures/plus.svg);
}

.add-column {
    width: 272px;

    padding: 12px;
    margin-top: 0;
}