.card {
    width: 248px;
    margin-bottom: 8px;
    padding: 8px 8px 8px 12px;

    background: #FFFFFF;
    box-shadow: 0 1px 4px rgba(9, 45, 66, 0.25);
    border-radius: 3px;

    font-size: 13px;
    word-wrap: break-word;
}
