.column-maker {
    padding: 12px;
}

.submit-adding {
    width: 147px;
    height: 30px;

    background: #39C071;
    border-radius: 3px;

    font-weight: bold;
    font-size: 13px;
    color: #FFFFFF;
}

.toolbar-adding {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.delete-button {
    width: 15px;
    height: 15px;

    background: transparent url(../pictures/cross.svg);
}
