.column {
    width: 272px;

    padding: 8px 0 12px 0;
    margin-right: 12px;

    background: #DFE3E6;
    border-radius: 3px;
}

.column-title {
    margin-left: 12px;

    font-weight: bold;
    font-size: 13px;
    word-wrap: break-word;

    color: #000000;
}
