* {
    margin: 0;
    outline: 0;
    border: 0;
    box-sizing: border-box;

    font-family: Montserrat, sans-serif;
    line-height: 19px;
}

body {
    width: fit-content;
    background: url(../pictures/background.png) fixed;
    background-size: cover;
    padding: 20px;

    display: flex;
    align-items: flex-start;
}

textarea {
    width: 248px;
    padding: 8px 6px 8px 12px;

    resize: none;
    overflow: auto;

    background: #FFFFFF;
    box-shadow: 0 1px 4px rgba(9, 45, 66, 0.25);
    border-radius: 3px;

    font-size: 13px;
}

::-webkit-scrollbar {
    display: none;
}

::placeholder {
    font-size: 13px;
    color: #B8B9BB;
}
